.container{
    margin: auto;
    text-align: center;
    width: 274px;
}

.title{
    background-color: rgb(10, 49, 109);
    padding: 8px 0;
    margin: 8px 0;
    color: white;
    font-size: 30px;
}

span {
color:rgb(139, 169, 204)
}
.wrapper {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}
.square {
    height: 80px;
    width: 80px;
    background-color: rgb(10, 49, 109);
    margin: 5px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.square:hover{
    background-color: rgb(139, 169, 204);
}